* {
    padding: 0;
    margin: 0;
    color: white;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}

#navbar {
    background-color: #0f1111;
    height: 60px;

}

#logo {
    color: #f08804;
    font-size: 25px;
}

button {
    background-color: #f08804;
}

a {
    margin-right: 200px;
    text-decoration: none;
}
#content {
    height: 650px;
    
}
.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}