div {
    height: 230px;
    background-color: beige;
    width: 100px;
}
h1 {
    height: 230px;
    background-color: rgb(40, 190, 220);
    width: 1000px;
    text-align : center;
    padding: 50px;
}
button {
    border: 8px solid green;
    border-radius: 40px;
}